html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(48, 67, 102, 255);
}

@font-face {
  font-family: 'main';
  src: url('./public/ThaleahFat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
